/*CSS reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS body*/

body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    border: 1px solid black;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
}

p {
    font-size: 30px;
    font-weight: 300;
}

.hero-area {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-text p {
    margin-top: 50px;
    margin-bottom: 25px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #ef744b;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
    margin-top: 20px;
}

.button:hover {
    background-color: #efb64b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}