/*CSS reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End of CSS reset*/
/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
body {
  font-family: 'Poppins', sans-serif;
}

section {
  background-color: white;
}

h1 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 30px;
}

h2 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 30px;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

p {
  font-size: 30px;
  font-weight: 300;
}

/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
.hero {
  background-color: #1c1d25;
  background-image: url("../../src/images/background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #f3f0f0;
  font-size: 60px;
}

.hero nav {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero nav .logo {
  display: block;
  height: 50px;
  margin: 20px;
  border-radius: 20px;
}

.hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 600px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}

.hero nav ul li {
  text-decoration: none;
}

.hero nav ul li .nav-link {
  text-decoration: none;
  color: #ffffff;
}

.hero nav ul li .nav-link:hover {
  color: aqua;
}

.hero nav ul.show {
  display: block;
}

.hero nav .hamburger {
  display: none;
}

.hero .hero-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-area .hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
  text-shadow: 3px 3px #b13939;
}

.hero .hero-area .hero-text p {
  margin-top: 50px;
  margin-bottom: 25px;
  font-weight: 600;
}

.hero .hero-area .hero-text .button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  background-color: #ef744b;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
  margin-top: 20px;
  text-shadow: none;
}

.hero .hero-area .hero-text .button:hover {
  background-color: #efb64b;
}

.hero .hero-area .hero-text .button:active {
  background-color: #A9A9A9;
  color: #808080;
}

.hero .hero-area .hero-text .button .button-link {
  text-decoration: none;
  color: white;
}

.hero .hero-area .hero-text .button .button-link:hover {
  color: #0b6868;
}

.hero .hero-area .socials {
  padding-bottom: 200px;
}

.hero .hero-area .socials .social {
  margin: 20px;
}

@media only screen and (max-width: 1000px) {
  .hero nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #2b2c38;
  }
  .hero nav .logo {
    display: none;
  }
  .hero nav ul {
    display: none;
    background-color: #2b2c38;
    margin: 0;
  }
  .hero nav .hamburger {
    display: block;
    background-color: transparent;
    color: white;
    font-size: 30px;
    height: 100px;
    border: 0;
  }
}

/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 80px;
  background-color: #d8d2ca;
}

.about-me .information {
  margin-right: 30px;
  font-family: 'Uchen', serif;
}

.about-me .information .about-header {
  font-size: 35px;
}

.about-me .information .about-address {
  font-style: italic;
}

.about-me .information .about-text {
  padding-top: 10px;
  font-size: 25px;
}

.about-me .headshot-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me .headshot-container .headshot {
  width: 300px;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) {
  .about-me .information .about-text {
    display: none;
  }
}

/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
.my-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 80px;
  background-color: #dfdfdf;
}

.my-projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.my-projects .project-container .project-card {
  width: 450px;
  -webkit-box-shadow: 5px 5px 20px grey;
          box-shadow: 5px 5px 20px grey;
  margin: 10px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 2%;
}

.my-projects .project-container .project-card .project-image {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  margin-bottom: 25px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 20px grey;
          box-shadow: 5px 5px 20px grey;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.my-projects .project-container .project-card .project-image:hover {
  -webkit-animation-name: image-puls;
          animation-name: image-puls;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.my-projects .project-container .project-card h3 {
  text-shadow: 2px 2px #353535;
}

.my-projects .project-container .project-card .project-about {
  font-size: 15px;
  font-weight: 300;
  padding: 10px;
}

.my-projects .project-container .project-card hr {
  margin-left: 20px;
  margin-right: 20px;
}

.my-projects .project-container .project-card .project-tech {
  font-size: 15px;
  font-weight: 600;
  padding: 10px;
}

@media only screen and (max-width: 1000px) {
  .my-projects .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .my-projects .project-container .project-card {
    width: 70%;
  }
}

@-webkit-keyframes image-puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes image-puls {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*Primary Button*/
/*Links*/
/*Breakpoints for media*/
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 60px;
}

footer .full-screen .form-group .form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .full-screen .form-group .form-body .form-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .full-screen .form-group .form-body .form-header .form-col {
  margin-right: 5px;
  margin-left: 5px;
}

footer .full-screen .form-group .form-body .form-text {
  width: 100%;
  margin: 20px;
}

footer .full-screen .form-group .form-submit-btn {
  background-color: #ef744b;
  font-family: 'Uchen', serif;
  padding: 10px 40px 10px 40px;
  font-size: 15px;
  color: white;
  border-radius: 20px;
  border: 0px;
}

footer .full-screen .form-group .form-submit-btn:hover {
  background-color: #efb64b;
  color: #0b6868;
}

footer .full-screen .form-group .form-submit-btn:active {
  background-color: #A9A9A9;
  color: #808080;
}

footer .mobile-screen {
  display: none;
}

@media only screen and (max-width: 1000px) {
  footer .full-screen {
    display: none;
  }
  footer .mobile-screen {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */