/*CSS reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End of CSS reset*/

body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-text p {
    margin-top: 50px;
    margin-bottom: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px;
}

.logo {
    display: block;
    height: 50px;
    margin: 20px;
    border-radius: 20px;
}
@media only screen and (max-width: 1000px) {
    .logo {
        display: none;
    }
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }
}

.nav-link {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

@media only screen and (max-width: 1000px) {
    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0;
    }
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 30px;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 30px;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    font-size: 30px;
    font-weight: 300;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #ef744b;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
    margin-top: 20px;
}

.button:hover {
    background-color: #efb64b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.button-link {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}    

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        align-self: flex-end;
    }
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.information {
    margin-right: 30px;
}

#about-address {
    font-style: italic;
}

.headshot {
    width: 300px;
    border-radius: 50%;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 450px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
    padding: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px grey;
}

.project-about {
    font-size: 15px;
    font-weight: 300;
    padding: 10px;
}

.project-tech {
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
    font-size: 15px;
    font-weight: 300;
}

.submit-form-button {
    border-radius: 5px;
}